.c_row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.c_row_hover {

}
.c_row_hover :hover {
    color: white;
}