/*头部*/
.panel {
    width: 250px;
    padding: 10px;
    background-color: #fff;
}
.panel-heading {
    height: 40px;
    line-height: 40px;
    border:1px solid #ccc;
    padding: 0 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 1px 5px #ccc;
}
.panel-heading label {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size:14px;
}
.panel input {
    height: 40px;
    margin-right:8px;
    vertical-align: top;
}
.panel .btn{
  margin-left:70px;
  height: 30px;
  vertical-align: baseline;
}
/*主体部分*/
.panel-body{
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: 0 1px 5px #ccc;
}
.panel-body p{
    font-weight: bold;
    margin-bottom: 5px;
}
ul{
    list-style: none;
    font-size:12px;
}
ul li {
    margin-top:5px;
}
ul li strong{
    color:red;
}
