* {
    margin:0;
    padding: 0;
}
.btn{
    height: 30px;
    padding: 0 6px;
    vertical-align:baseline;
    border-radius: 10px;
    outline: none;
    border: none;
    color:#fff;
    cursor:pointer;
}
.btn-primary{
    background-color: #5cb85c;
}
.btn-primary:hover{
    background-color: #079D49;
}
.btn-danger{
    background-color: #d9534f;
}
.btn-danger:hover{
    background-color: #E21C1A;
}
.btn-small{
    height: 25px;
}
